.navbar-brand img {
    margin-right: 8px; /* Add space between the image and text */
    border-radius: 50%; /* Optionally make the image round */
  }

  .bg-light {
    --bs-bg-opacity: 1;
    background-color: #58ccde !important;
}
.nav-items btn:hover{
  background-color:#ff4653 ;
}