<app-navbar></app-navbar>
<div class="banner">
    <div class="container text-center py-5">
      <h1 class="banner-title">Welcome to the Credit Card App</h1>
      <p class="banner-description">Manage your credit cards effortlessly!</p>
      <!-- <a class="btn btn-primary btn-lg" routerLink="/credit-card-service">Explore Services</a> -->
    </div>
  </div>
  
  <!-- New Section Below the Banner for Rewards & Benefits -->
  <div class="rewards-benefits">
    <div class="container text-center py-5">
      <h2 class="section-title">Card Features and Benefits</h2>
      <p class="section-description">
        Earn exclusive rewards and enjoy amazing benefits with our credit card services. Whether you want cashback, discounts, or points, we have you covered.
      </p>
      <div class="row">
        <div class="col-md-4">
            <img src="assets/img/cashback.png" alt="Cashback" class="reward-image mb-3 img-fluid" />
          <div class="reward-item">
            <h4>Cashback</h4>
            <p>Earn up to 5% cashback on all purchases!</p>
          </div>
        </div>
        <div class="col-md-4">
            <img src="assets/img/discount.png" alt="Cashback" class="reward-image mb-3 img-fluid" />
          <div class="reward-item">
            <h4>Discounts</h4>
            <p>Exclusive discounts at top retail stores.</p>
          </div>
        </div>
        <div class="col-md-4">
            <img src="assets/img/points.png" alt="Cashback" class="reward-image mb-3 img-fluid" />
          <div class="reward-item">
            <h4>Points</h4>
            <p>Accumulate reward points that you can redeem for various offers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>