<app-navbar></app-navbar>
<div class="container my-5">
    <h2 class="text-center mb-4">Our Credit Cards</h2>
    
    <div class="row">
         <!-- Silver Card -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/silver.png" class="card-img-top" alt="Silver Card" />
          <div class="card-body">
            <h5 class="card-title">Silver Card</h5>
            <p class="card-text">Credit Limit: ₹50,000</p>
            <button class="btn btn-primary" routerLink="/credit-card-application">Apply Now</button>
          </div>
        </div>
      </div>

      <!-- Gold Card -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/gold.png" class="card-img-top" alt="Gold Card" />
          <div class="card-body">
            <h5 class="card-title">Gold Card</h5>
            <p class="card-text">Credit Limit: ₹100,000</p>
            <button class="btn btn-primary" routerLink="/credit-card-application">Apply Now</button>
          </div>
        </div>
      </div>
      <!-- Premium Card -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/premium.png" class="card-img-top" alt="Premium Card" />
          <div class="card-body">
            <h5 class="card-title">Platinum Card</h5>
            <p class="card-text">Credit Limit: ₹50,0000</p>
            <button class="btn btn-primary" routerLink="/credit-card-application">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>